<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Adminlogin</display-name>
    <servlet-name>Adminlogin</servlet-name>
    <servlet-class>Adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminlogin</servlet-name>
    <url-pattern>/Adminlogin</url-pattern>
  </servlet-mapping>
  <display-name>Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>productadd</display-name>
    <servlet-name>productadd</servlet-name>
    <servlet-class>productadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productadd</servlet-name>
    <url-pattern>/productadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productdelete</display-name>
    <servlet-name>productdelete</servlet-name>
    <servlet-class>productdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productdelete</servlet-name>
    <url-pattern>/productdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productupdate</display-name>
    <servlet-name>productupdate</servlet-name>
    <servlet-class>productupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productupdate</servlet-name>
    <url-pattern>/productupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserReg</display-name>
    <servlet-name>UserReg</servlet-name>
    <servlet-class>UserReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserReg</servlet-name>
    <url-pattern>/UserReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
</web-app>